body{
	margin: 0;
}


ul{
	list-style: none;
	padding: 0;
 margin: 0;
}

.navbar{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.logo{
	height: 70px;
}
.boton1{
	background-color: royalblue;
	color: white;
}
.boton1:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(92, 82, 238);
	transform: scale(1.1);
}
.mainButom{
	border: 0;
	padding: 8px 10px;
	border-radius: 10px;
	font-weight: bolder;
}

.secundaryButtom{
	background-color: rgb(65, 225, 105);
	color: white;
}
.secundaryButtom:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(61, 206, 24);
	transform: scale(1.1);
}

.botonRegistro{
background-color: royalblue;
color: white;
}
.botonRegistro:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(57, 41, 204);
	transform: scale(1.1);
}
.buscar{
	border: 1px solid gray;
	padding: 8px;
	background-color: white;
	border-radius: 10px;
	width: 300px;
	display: flex;
	justify-content: space-between;
}
.buscar > input{
	width: 300px;

}
.buscar > input{
	outline: none;
	border:0;
}
.buscar >i:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(199, 198, 214);
	transform: scale(1.1);
	color: blue;
}
.navbar{
	background-color: rgb(219, 219, 219);
	border-bottom: 3px solid rgb(192, 192, 192);
	font-weight: bolder;


}
.navbar > li{
	display: flex;
	align-items: center;
}


/*aqui comienza el main
											| |
											|	|
*/

.contenedor1{
	width: 323px;
	height: 390px;
	display: flex;

}
.contenedor1 > img{
object-fit: cover;
width: 100%;
}

.padre{
	display: flex;
	margin-left: 40px;
	padding-bottom:100px;
}
li.hijo{
	padding-bottom: 20px;


}


.hijo{
	margin-right:10px;
	background-color: rgb(90, 69, 69);
border-radius: 10px;
margin-right: 25px;

}



.contenedor1 > img{
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
}

.spamNose{
	color: rgb(236, 232, 232);
	padding: 20px ;
	font-size: 20px;

}

.contenedor1:hover{
	cursor: pointer;
	transform: scale(1.03);
}

h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
text-align: center;
padding: 10px;
color: rgb(44, 204, 204);


}

.lobo{
height: 20px;
padding: 10px;
display: flex;
justify-content: space-between;


}
.lobo >div >img{
vertical-align: top;
}

.corazon {
width: 20px;

}

.notaria{
font-weight:bolder;
font-size: 15px;

}

.comentario {
	width: 20px;

	}
.ver {
	width: 20px;
	}
