body{
	margin: 0;
}


ul{
	list-style: none;
	padding: 0;
 margin: 0;
}

.navbar{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.logo{
	height: 70px;
}
.boton1{
	background-color: royalblue;
	color: white;
}
.boton1:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(92, 82, 238);
	transform: scale(1.1);
}
.mainButom{
	border: 0;
	padding: 7px 10px;
	border-radius: 10px;
	font-weight: bolder;
}

.secundaryButtom{
	background-color: rgb(65, 225, 105);
	color: white;
}
.secundaryButtom:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(61, 206, 24);
	transform: scale(1.1);
}

.botonRegistro{
background-color: royalblue;
color: white;
}
.botonRegistro:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(57, 41, 204);
	transform: scale(1.1);
}
.buscar{
	border: 1px solid gray;
	padding: 4px;
	border-radius: 10px;
}


.buscar > input{

	outline: none;
	border:0;
}