body{
	margin: 0;
}


ul{
	list-style: none;
	padding: 0;
 margin: 0;
}

.navbar{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.logo{
	height: 70px;
}
.boton1{
	background-color: royalblue;
	color: white;

	border: 0;
	padding: 7px 10px;
	border-radius: 10px;
	font-weight: bolder;

}
.boton1:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(92, 82, 238);
	transform: scale(1.1);
}
.secundaryButtom{
	background-color: rgb(65, 225, 105);
	color: white;

	border: 0;
	padding: 7px 10px;
	border-radius: 10px;
	font-weight: bolder;

}
.secundaryButtom:hover{
	cursor: pointer;
	box-shadow: 1px 1px rgb(61, 206, 24);
	transform: scale(1.1);
}
